@import '../../../index.scss';

#MainMenu{
    &.menu-off{
        opacity: 0;
        z-index: -1;
    }
    &.menu-on{
        z-index: 100;
        opacity: 1;
    }
    transition: all 0.5s;
    opacity: 0;
    position: fixed;
    opacity: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $deep-blue;
    .close-btn{
        width: 38px;
        height: 38px;
        display: block;
        margin: 30px 55px 0 auto;
        position: relative;
        cursor: pointer;
        div{
            position: absolute;
            left: 0;
            top: 30px;
            width: 50px;
            height: 4px;
            background: #fff;
            &:first-child{
                transform: rotate(-45deg);
            }
            &:last-child{
                transform: rotate(45deg);
            }
        }
    }
    ul{
        width: 50%;
        margin: 10% auto;
        list-style: none;
        li{
            border-bottom: 1px solid rgba(255,255,255,0.1);
            &:first-child{
                border-top: 1px solid rgba(255,255,255,0.1);
            }
            a{
                display: block;
                padding: 23px 0;
                font-family: Poppins;
                font-size: 28px;
                font-style: normal;
                font-weight: 400;
                line-height: 42px;
                letter-spacing: 0em;
                text-align: left;
                color: white;
                text-decoration: none;
                position: relative;
                transition: all 0.5s;
                &:after{
                    content: "⟶";
                    position: absolute;
                    top: 15px;
                    right: 10px;
                    color: white;
                    font-family: "Inter";
                    font-weight: 400;
                    opacity: 0;
                    transition: all 0.5s;
                }
                &:hover{
                    padding-left: 20px;
                    &:after{
                        opacity: 1;
                        right: 30px;
                    }
                }
            }
        }
    }
    @media(max-width: $mobile){
        .close-btn{
            width: 20px;
            height: 20px;
            margin: 40px 35px 0 auto;
            div{
                top: 0px;
                width: 20px;
            }
        }
        ul{
            width: 80%;
            margin: 136px auto 0 auto;
            list-style: none;
            li{
                border-bottom: 1px solid rgba(255,255,255,0.1);
                a{
                    padding: 10px 0;
                    font-size: 24px;
                    line-height: 36px;
                    &:after{
                        top: 10px;
                    }
                }
            }
        }
    }
}