@import '../../index.scss';

header{
    width: 100%;
    border-bottom: 1px solid $deep-blue;
    h1{
        color: $deep-blue;
        font-size: 18px;
        margin: 37px 0 37px 49px;
        text-transform: uppercase;
    }
    #MenuBars{
        width: 50px;
        height: 32px;
        display: block;
        margin: 34px 50px 0 auto;
        cursor: pointer;
        img{
            width: 50px;
            height: 32px;
        }
    }
    @media(max-width: $mobile){
        h1{
            margin: 35px 0 35px 30px; 
        }
        #MenuBars{
            width: 34px;
            height: 22px;
            margin: 39px 30px 0 auto;
            img{
                width: 34px;
                height: 22px;
            }
        }
    }
}